@(cat5: GeneralData, planTeachingData: List[PlanTeachingData],
        evaluationPlanData: List[EvaluationPlanData], plan: String, evaluationStrategyList: List[EvaluationStrategy])
@import java.math.BigInteger; var i = 1;var x = 1;var y = 1;var t = 1;
@import java.lang.String; var actTmp = "";var one="";var two="";var three="";var four="";var five="";
@if(flash.containsKey("checkWeek")) {
    <div class="alert alert-danger"><strong>ผิดพลาด</strong>@flash.get("checkWeek"). </div>
}
@if(flash.containsKey("checkWeekAll")) {
    <div class="alert alert-danger"><strong>ผิดพลาด</strong>@flash.get("checkWeekAll"). </div>
}

<br>
<br>
<form action="/selectCat" method="post">
    <input type="hidden" id="idDoc3" name="idDoc3" value="@cat5.getId">
    <div class="row">
        <div class="col-md-4" align="left"><h5 style="margin-top: 7px ;">วิชา:@cat5.getCourse.getNameTH</h5></div>
        <div class="col-md-4">
            <select id="nameCat" name="nameCat" class="form-control">
                <option value="cat1">หมวดที่ 1 Success...</option>
                @if(cat5.getCourseDestinationList.size()==0||cat5.getCourseObjectivesList.size()==0){
                    <option value="cat2" style="color: red">หมวดที่ 2 wait...</option>
                }else{
                    <option value="cat2" style="color: green">หมวดที่ 2 Success...</option>
                }
                @if(cat5.getDataHoursList().size() == 0 || cat5.getSuggestion() == null){
                    <option value="cat3" style="color: red">หมวดที่ 3 wait...</option>
                }else{
                    <option value="cat3" style="color: green">หมวดที่ 3 Success...</option>
                }
                @if(cat5.getData_listDevelopmentList().size() == 0|| cat5.getData_methodTeachingList().size() == 0 || cat5.getData_methodEvaluationList().size() == 0){
                    <option value="cat4" style="color: red">หมวดที่ 4 wait...</option>
                }else{
                    <option value="cat4" style="color: green">หมวดที่ 4 Success...</option>
                }
                @if(cat5.getPlanTeachingDataList().size() == 0 ||cat5.getEvaluationPlanDataList().size() == 0){
                    <option value="cat5" style="color: red" selected>หมวดที่ 5 wait...</option>
                }else{
                    <option value="cat5" style="color: green" selected>หมวดที่ 5 Success...</option>
                }
                @if(cat5.getMainDocumentList().size() == 0 ||cat5.getImportantDocumentList().size() == 0 || cat5.getSuggustionDocumentList().size() == 0){
                    <option value="cat6" style="color: red">หมวดที่ 6 wait...</option>
                }else{
                    <option value="cat6" style="color: green">หมวดที่ 6 Success...</option>
                }
                @if(cat5.getCourseAssessmentStrategiesList().size() == 0 || cat5.getTeachingStrategiesDataList().size() == 0 ||cat5.getImproveTeachingDataList().size() == 0 || cat5.getStandardReviews().size() == 0 ||
                        cat5.getReviewAndPlanList().size() == 0){
                    <option value="cat7" style="color: red">หมวดที่ 7 wait...</option>
                }else{
                    <option value="cat7" style="color: green">หมวดที่ 7 Success...</option>
                }
            </select>
        </div>
        <div class="col-md-4" align="left"><input type="submit" value="เลือก" class="btn btn-success"></div>
    </div>
</form>
<br>
<br>
<center>
    <h3>หมวดที่ 5 แผนการสอนเเละการประเมินผล</h3>
    <br>
</center>
<br>
@*<form method="post" action="/saveCategory5">*@
@*<input type="hidden" name="genId" value="@cat4.getId">*@
@*<button type="submit" class="btn btn-info" style="font-family : 'Mitr', sans-serif ;">*@
@*<i class=' fa fa-floppy-o' style="color : #f7fff6 ; font-size : 18 px ; " > บันทึก</i>*@
@*</button>*@
@*</form>*@
@*<br>*@
<form action="/selectCat" method="post">
    <input type="hidden" id="idDoc3" name="idDoc3" value="@cat5.getId">
    <input type="hidden" id="nameCat" name="nameCat" value="cat5">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-5">
            <select id="namePlan" name="namePlan" class="form-control" onchange="this.form.submit()">
            @if(plan == "plan1") {
                <option value="plan1" selected>แผนการสอน</option>
                <option value="plan2">แผนการประเมินผลการเรียนรู้</option>
            } else {
                @if(plan == "plan2") {
                    <option value="plan1">แผนการสอน</option>
                    <option value="plan2" selected>แผนการประเมินผลการเรียนรู้</option>
                } else {
                    <option value="plan1">แผนการสอน</option>
                    <option value="plan2">แผนการประเมินผลการเรียนรู้</option>
                }
            }

            </select>
        </div>
        <div class="col-md-4">  </div>
    </div>
</form>
<br>
<div class="row">
    <div class="col-md-11">
    @if(plan == "plan1") {
        <center>
            <a href="/formatPrintCat5_1/@cat5.getId()" class="btn btn-outline-info">
                <i class='far fa-file-alt' style="color: #000000;
                    font-size: 18px;" ></i> ดูตัวอย่างก่อนพิมพ์
            </a>
            <br>
        </center>
        1. แผนการสอน
        @if(planTeachingData.size==0){
            <div class="alert alert-danger"><strong>เตือน !</strong>ท่านยังไม่ได้จัดการในหัวข้อนี้</div>
        }
        <table id="example" class="table table-striped table-bordered" width="100%">
            <thead>
                <tr>
                    <td align="center">สัปดาห์<br>ที่</td>
                    <td valign="middle" align="center" width="500px">รายละเอียด</td>
                    <td align="center">จำนวน<br>ชั่วโมง</td>
                    <td align="center" width="110px">กิจกรรมการเรียน<br>สื่อที่ใช้</td>
                    <td valign="middle" align="center" >ผู้สอน</td>
                    <td valign="middle" align="center" >แก้ไข</td>
                    <td valign="middle" align="center" >ลบ</td>
                </tr>
            </thead>
            @if(planTeachingData != null) {
                @for(planTeachingData <- planTeachingData.sortWith(_.getWeek().toInt < _.getWeek().toInt)) {
                    <tr>
                        <td>@planTeachingData.getWeek</td>
                        <td width="500px"> @HtmlFormat.raw(planTeachingData.getDetail)</td>
                        <td>@planTeachingData.getHours</td>
                        <td width="110px">@HtmlFormat.raw(planTeachingData.getMedia)</td>
                        <td style="font-size: 10px">@HtmlFormat.raw(planTeachingData.getInstructor)</td>
                        <td align="center"><a href="/edit5_1/@planTeachingData.getId"> <i class='fas fa-edit' style="color: #3b9bff;
                            font-size: 18px;"></i></a>
                        </td>
                        <td align="center"><a href="/deletePlanTeaching/@planTeachingData.getId" onclick="return confirm('คุณต้องการที่จะลบข้อมูลรายการนี้นี้ใช่หรือไม่?')"><i class='	fas fa-trash-alt' style="color: #3b9bff;
                            font-size: 18px;" ></i>
                        </a>
                        </td>
                    </tr>
                    @(i = i + 1)
                }
            }

        </table>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addPlanTeaching"> <i class='	fa fa-plus-circle' style="color: #ffffff ;
            font-size: 16px ;" ></i> </button>
        <br>
        <br>
        <br>
    } else {
        <center>
            <a href="/formatPrintCat5_2/@cat5.getId()" class="btn btn-outline-info">
                <i class='far fa-file-alt' style="color: #000000;
                    font-size: 18px;" ></i> ดูตัวอย่างก่อนพิมพ์
            </a>
            <br>
        </center>
        2. แผนการประเมินผลการเรียนรู้
        @if(evaluationPlanData.size==0){
            <div class="alert alert-danger"><strong>เตือน !</strong>ท่านยังไม่ได้จัดการในหัวข้อนี้</div>
        }
        <table id="example" class="table table-bordered" width="100%">
            <thead>
                <tr>
                    <td align="center"  valign="middle" style="font-weight: bold">กิจกรรม<br>ที่</td>
                    <td valign="middle" align="center" style="font-weight: bold">ผลการ<br>เรียนรู้</td>
                    <td align="center"  valign="middle" style="font-weight: bold">วิธีการประเมิน</td>
                    <td align="center"  valign="middle" width="90px" style="font-weight: bold">สัปดาห์ที่<br>ประเมิน</td>
                    <td valign="middle" align="center"  style="font-weight: bold">สัดส่วนของกการ<br>ประเมินผล</td>
                    @*<th valign="middle" align="center" >แก้ไข</th>*@
                    <td valign="middle" align="center" >ลบ</td>
                </tr>
            </thead>
            @if(evaluationPlanData != null) {
                @for(evaluationPlanData <- evaluationPlanData) {
                    @for(data <- evaluationPlanData.getDetailPlanEvaluations) {
                        <tr>
                            @if(actTmp != evaluationPlanData.getActivity) {
                                @(actTmp = evaluationPlanData.getActivity)
                                <td  align="center">@evaluationPlanData.getActivity</td>
                                <td  align="center">@evaluationPlanData.getLearningOutcome</td>
                            } else {
                                <td></td>
                                <td></td>
                            }
                        <td>
                            - @data.getEvaluationStrategy.getEvaluationMethod <br>

                        </td>
                        <td align="left" valign="top" width="90px">
                            @data.getEvaluationWeek <br>

                        <td align="center" valign="top">
                            @data.getRatingScale()% <br>

                        </td>
                            @*<td align="center"><a href="/"> <i class='fas fa-edit' style="color: #3b9bff;*@
                            @*font-size: 18px;"></i></a>*@
                            @*</td>*@
                            @if(t==1){
                                <td align="center"><a href="/deletePlanValutation/@evaluationPlanData.getId" onclick="return confirm('คุณต้องการที่จะลบข้อมูลอาจารย์ท่านนี้ใช่หรือไม่?')"><i class='	fas fa-trash-alt' style="color: #3b9bff;
                                    font-size: 18px;" ></i>
                                </a>
                                </td>
                            }else{
                                <td></td>
                            }

                        </tr>
                        @(t = t + 1)
                    }
                    @(t=1)
                    @(x = x + 1)
                }
            }
        </table>
        <form action="/selectPlanEvaluation" method="post">
            <input type="hidden" name="numActivity" value="@x">
            <input type="hidden" name="genId" value="@cat5.getId">
            <button type="submit" class="btn btn-primary"> <i class='	fa fa-plus-circle' style="color: #ffffff ;
                font-size: 16px ;" ></i> </button>
        </form>
    }

    </div>
    <div class="col-md-1"></div>
</div>
    <!-- Modal -->
<div class="modal fade" id="addPlanTeaching" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">แผนการสอน</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="/savePlanTeaching" method="post">
                <div class="modal-body">
                    <input type="hidden" name="genId" value="@cat5.getId">
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">สัปดาห์ที่</label>
                        <input type="number" class="form-control" name="week" id="message-text" value="@i" >
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">รายละเอียด</label>
                        <textarea class="form-control ckeditor" name="detail" id="message-text" rows="5"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">จำนวนชั่วโมง</label>
                        <input type="number" class="form-control" name="hour" id="message-text">
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">สื่อที่ใช้การสอน</label>
                        <textarea type="text" class="form-control ckeditor" name="media" id="message-text"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="message-text" class="col-form-label">ผู้สอน</label>
                        <textarea type="text" class="form-control ckeditor" name="nameTeacher" id="message-text" >@cat5.getTeacher.getName @cat5.getTeacher.getSername</textarea>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save changes</button>
                </div>
            </form>
        </div>
    </div>
</div>
