@(addSyllabusCourse : Form[SyllabusCourse],departmentList: List[Department])
@import helper._;
<br>
<br>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-7">
        <center>
            <h3>แก้ไขข้อมูลหลักสูตร</h3>
        </center>
        @if(flash.containsKey("newSyllabusError")) {
            <div class="alert alert-danger"><strong>ผิดพลาด</strong>@flash.get("newSyllabusError"). </div>
        }
        @helper.form(action = routes.Application.updateSyllabusCourse(), 'enctype -> "multipart/form-data") {
            @inputText(addSyllabusCourse("id"), '_label -> "รหัสหลักสูตร", 'size -> "10px", 'required -> "required",'readonly->"readonly", 'class -> "form-control")
            @inputText(addSyllabusCourse("nameTH"), '_label -> "ชื่อหลักสูตรภาษาไทย", 'size -> "50px", 'required -> "required", 'class -> "form-control")
            @inputText(addSyllabusCourse("nameEng"), '_label -> "ชื่อหลักสูตรภาษาอังกฤษ", 'size -> "10px", 'required -> "required", 'class -> "form-control")
            @select(addSyllabusCourse("faculty.id"),
                options = departmentList.map(department=> department.getId -> department.getNameTh),
                '_label -> "สาขา", 'class -> "form-control")
            <button type="submit" class="btn btn-success">
                <i class='	fa fa-floppy-o' style="color : #f7fff6 ; font-size : 18px ;"></i> บันทึก
            </button>
            <button type="reset" class="btn btn-danger">
                <i class='	fa fa-file-o' style="color : #f7fff6 ; font-size : 18px ;"></i> เคลียร์
            </button>
            }
    </div>
    <div class="col-md-3"></div>
</div>