@(addCategoryCourse: Form[CategoryCourse],syllabusCourseList : List[SyllabusCourse])
@import helper._;
<br>
<br>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-7">
        <center>
            <h3>แก้ไขข้อมูลหมวดรายวิชา <br> @addCategoryCourse.get.getSyllabusCourse.getNameTH </h3>
        </center>
        @if(flash.containsKey("dataCategoryError")) {
            <div class="alert alert-danger"><strong>ผิดพลาด</strong>@flash.get("dataCategoryError"). </div>
        }
        @helper.form(action = routes.Application.updateCategoryCourse(), 'enctype -> "multipart/form-data") {
            @inputText(addCategoryCourse("id"), '_label -> "รหัสหมวดรายวิชา", 'size -> "10px", 'required -> "required",'readonly->"readonly", 'class -> "form-control")
            @inputText(addCategoryCourse("name"), '_label -> "ชื่อหมวดรายวิชา", 'size -> "50px", 'required -> "required", 'class -> "form-control")
            @inputText(addCategoryCourse("amount"), '_label -> "จำนวนหน่วยกิต", 'size -> "10px", 'required -> "required", 'class -> "form-control")
            <button type="submit" class="btn btn-success">
                <i class='	fa fa-floppy-o' style="color : #f7fff6 ; font-size : 18px ;"></i> บันทึก
            </button>
            <button type="reset" class="btn btn-danger">
                <i class='	fa fa-file-o' style="color : #f7fff6 ; font-size : 18px ;"></i> เคลียร์
            </button>
            }
    </div>
    <div class="col-md-3"></div>
</div>