@(addDevelopmentalLearningList: Form[DevelopmentalLearningList] )
@import helper._;
<br>
<br>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-7">
        <center>
            <h3>เพิ่มข้อมูลรายการการพัฒนาการเรียนรู้</h3>
        </center>
        @if(flash.containsKey("newDevListError")) {
            <div class="alert alert-danger"><strong>ผิดพลาด</strong>@flash.get("newDevListError"). </div>
        }
        @helper.form(action = routes.Development.insertDevelopmentalLearningList(), 'enctype -> "multipart/form-data") {
@*//            @inputText(addDevelopmentalLearningList("id"), '_label -> "รหัสการพัฒนาการเรียนรู้", 'size -> "10px", 'required -> "required", 'class -> "form-control")*@
            @textarea(addDevelopmentalLearningList("listDevelopmentalLearning"), '_label -> "รายละเอียดรายการพัฒนาการเรียนรู้",'rows->"3",'cols->"60", 'required -> "required", 'class -> "form-control")
            @* @select(addDevelopmentalLearningList("developmentalLearning.id"),
                options = DevelopmentalLearning.map(DevelopmentalLearning => DevelopmentalLearning.getId -> DevelopmentalLearning.getName),
                '_label -> "หัวข้อการพัฒนาการเรียนรู้", 'class -> "form-control") *@
            <input type="submit" value="บันทึก" class="btn btn-success">
            <input type="reset" value="เคลียร์" class="btn btn-danger"  style="font-family: 'Mitr', sans-serif;">
            }
    </div>
    <div class="col-md-3"></div>
</div>