    <div class="row" style="background-color: #3b5998">
        <div class="col-md-2 col-sm-2 col-xs-2" style="margin-top: 10px; margin-bottom: 10px;padding-left: 80px"></div>
        <div class="col-md-6 col-sm-6 col-xs-6" style="margin-top: 7px; color: white; font-family: 'Bai Jamjuree', sans-serif;"><h4>ระบบการจัดการกรอบมาตรฐานคุณวุฒิระดับอุดมศึกษาแห่งชาติ</h4></div>
        <div class="col-md-4 col-sm-4 col-xs-4" style="color: white; padding: 5px; font-size: 15px;font-family: 'Bai Jamjuree', sans-serif;" >
            <i class="	fa fa-user-o"></i>&nbsp;: @session.get("name")&nbsp; |
            <i class="  fa fa-unlock"></i>&nbsp;: @session.get("position")&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/logout" class="btn btn-light" style="color: black; font-size: 16px" onclick="return confirm('คุณต้องการที่จะออกจากระบบใช่หรือไม่ ?')"><i class='fas fa-sign-out-alt' style="font-size: 15px; color: #000000" ></i> ออกจากระบบ</a></div>
    </div>




