@(cMapping: List[CourseID], syllabusCourseList: List[SyllabusCourse], syllabusCourse: SyllabusCourse)
<br>
<div class="row">
    <div class="col-md-11">
        <center>
            @if(flash.containsKey("noDelOK")) {
                <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show"><span class="badge badge-pill badge-danger">
                    ผิดพลาด!</span> @flash.get("noDelOK"). </div>
            }
            @if(flash.containsKey("delOK")) {
                <div class="sufee-alert alert with-close alert-success alert-dismissible fade show"><span class="badge badge-pill badge-success">
                    สำเร็จ!</span> @flash.get("delOK"). </div>
            }
            @if(flash.containsKey("insertOK")) {
                <div class="sufee-alert alert with-close alert-success alert-dismissible fade show"><span class="badge badge-pill badge-success">
                    สำเร็จ!</span> @flash.get("insertOK"). </div>
            }
            @if(flash.containsKey("updateOK")) {
                <div class="sufee-alert alert with-close alert-success alert-dismissible fade show"><span class="badge badge-pill badge-success">
                    สำเร็จ!</span> @flash.get("updateOK"). </div>
            }
        </center>
    </div>
    <div class="col-md-1"></div>
</div>
<br>
<center>
    @if(flash.containsKey("noData")) {
        <div class="alert alert-danger"><strong>ผิดพลาด</strong>@flash.get("noData"). </div>
    }
<h3>ข้อมูลการกระจายความรับผิดชอบ</h3>
</center>
<br>
<div class="row">
    <div class="col-md-4" align="right" style="margin-top: 8px"><b>หลักสูตร</b></div>
    <div class="col-md-4" >
        <form action="/loadCourse" method="post">
            <select id="syll" name="syll" onchange="this.form.submit()" class="form-control">
                <option value="" selected>-----เลือกหลักสูตร-----</option>
                @for(ca<-syllabusCourseList){
                    @if(syllabusCourse!=null){
                        @if(syllabusCourse.getId==ca.getId){
                            <option value="@ca.getId" selected >@ca.getNameTH</option>
                        }else{
                            <option value="@ca.getId" >@ca.getNameTH</option>
                        }
                    }else{
                        <option value="@ca.getId" >@ca.getNameTH</option>
                    }

                }
            </select>
        </form>
    </div>
    <div class="col-md-4" ></div>
</div>
<br>
<div class="row">
    <div class="col-md-11">
        <a href="/listCourseMap" class="btn btn-info" style="font-family: 'Mitr', sans-serif;">
            <i class='	fa fa-plus-circle' style="color: #f7fff6;
                font-size: 18px;" ></i>
            กำหนดการกระจายความรับผิดชอบ</a>

    </div>
    <div class="col-md-2" align="center"></div>
</div>

<br>
<div class="row">
    <div class="col-md-11">
        <table id="example" class="table table-striped table-bordered">
            <thead>
                <tr style="background-color: #b0b8be">
                    <td align="center"><b>รหัสรายวิชา</b></td>
                    <td align="center"><b>รายวิชา</b></td>
                    <td align="center"><b>รายละเอียด</b></td>
                    <td align="center"><b>แก้ไข</b></td>
                    <td align="center"><b>ลบ</b></td>
                </tr>
            </thead>
            @for(course <- cMapping.sortWith(_.getId > _.getId)) {
                <tbody>
                    <tr>
                        <td align="center">@course.getCourse.getIdCourse</td>
                        <td>@course.getCourse.getNameTH</td>
                        <td align="center"><a href="/detailMapping/@course.getCourse.getId"><i class='fas fa-sticky-note' style="color: #3b9bff;
                            font-size: 18px;"></i>
                        </a>
                        </td>
                        <td align="center"><a href="/editMapping/@course.getCourse.getId"><i class='fas fa-edit' style="color: #3b9bff;
                            font-size: 18px;"></i>
                        </a>
                        </td>
                        <td align="center"><a href="/deleteMapping/@course.getId" onclick="return confirm('คุณต้องการที่จะลบข้อมูลการMappingนี้ใช่หรือไม่?')"><i class='	fas fa-trash-alt' style="color: #3b9bff;
                            font-size: 18px;" ></i>
                        </a>
                        </td>
                    </tr>
                </tbody>
            }
        </table>
    </div>
    <div class="col-md-1"></div>
</div>
