@(groupCourseList : List[GroupCourse],nameCat : CategoryCourse)
@import java.math.BigInteger;var sum=0;
@import java.lang.String;var name="";
<br>
<div class="row">
    <div class="col-md-11">
        <center>
            @if(flash.containsKey("noDelOK")) {
                <div class="sufee-alert alert with-close alert-danger alert-dismissible fade show"><span class="badge badge-pill badge-danger">ผิดพลาด!</span> @flash.get("noDelOK"). </div>
            }
            @if(flash.containsKey("delOK")) {
                <div class="sufee-alert alert with-close alert-success alert-dismissible fade show"><span class="badge badge-pill badge-success">สำเร็จ!</span> @flash.get("delOK"). </div>
            }
            @if(flash.containsKey("insertOK")) {
                <div class="sufee-alert alert with-close alert-success alert-dismissible fade show"><span class="badge badge-pill badge-success">สำเร็จ!</span> @flash.get("insertOK"). </div>
            }
            @if(flash.containsKey("updateOK")) {
                <div class="sufee-alert alert with-close alert-success alert-dismissible fade show"><span class="badge badge-pill badge-success">สำเร็จ!</span> @flash.get("updateOK"). </div>
            }
        </center>
    </div>
    <div class="col-md-1"></div>
</div>
<br>
<center>
    @if(flash.containsKey("dataGroupError")) {
        <div class="alert alert-danger"><strong>ผิดพลาด</strong>@flash.get("dataGroupError"). </div>
    }
@if(nameCat == null){
    <h3>ข้อมูลกลุ่มรายวิชาทั้งหมด-</h3>
}else{
    @for(groupCourse <- groupCourseList) {
        @(name = groupCourse.getCategoryCourse.getSyllabusCourse.getNameTH)
    }
    <h3>ข้อมูลกลุ่มรายวิชาทั้งหมดใน @nameCat.getName <br> @name </h3>
}

</center>
<br>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" align="center"><a href="/formAddGroupCourse/@nameCat.getId" class="btn btn-success" style="font-family: 'Mitr', sans-serif;" align="right"><i class='	fa fa-plus-circle' style="color: #3b9bff;font-size: 18px; color: white" ></i> เพิ่มกลุ่มรายวิชา</a></div>
    <div class="col-md-2"></div>
</div>
<br>
<br>
<div class="row">
    <div class="col-md-11">

        <table id="bootstrap-data-table-export" class="table table-striped table-bordered">
            <thead>
                <tr style="background-color: #979fa5">
                    <td align="center"><b>แก้ไข</b></td>
                    <td align="center"><b>ลบ</b></td>
                    <td align="center"><b>ชื่อกลุ่มรายวิชา</b></td>
                    <td align="center"><b>จำนวนหน่วยกิต</b></td>
                    <td align="center"><b>รายวิชา</b></td>
                </tr>
            </thead>
            <tbody>
            @for(groupCourse <- groupCourseList) {
                <tr>
                    <td align="center"><a href="/editGroupCourse/@groupCourse.getId"> <i class='fas fa-edit' style="color: #3b9bff;font-size: 18px;"></i></a></td>
                    <td align="center"><a href="/deleteGroupCourse/@groupCourse.getId" onclick="return confirm('คุณต้องการที่จะลบข้อมูล กลุ่มวิชานี้ใช่หรือไม่?')"><i class='	fas fa-trash-alt' style="color: #3b9bff;font-size: 18px;" ></i></a></td>
                    <td>@groupCourse.getName</td>
                    <td align="center">@groupCourse.getAmount</td>
                    <td align="center"><a href="/listCourse/@groupCourse.getId"><i class='fa fa-folder-open' style="color: #3b9bff;font-size: 24px;" ></i></a></td>
                </tr>
                @(sum=sum+groupCourse.getAmount)
            }
                <tr>
                    <td colspan="3" align="center"> รวม</td>
                    <td align="center">@sum</td>
                    <td colspan="" ></td>
                </tr>
            </tbody>
        </table>

    </div>
    <div class="col-md-1"></div>
</div>

<br>
<div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8" align="center"><a href="/listCategoryCourse/@session.get("idSyllabus")" class="btn btn-dark" style="font-family: 'Mitr', sans-serif;"><i class='	fa fa-undo' style="color: #3b9bff;font-size: 18px; color: white" ></i> กลับไปหน้าหมวดวิชา</a></div>
    <div class="col-md-2"></div>
</div>