@(generalData: GeneralData)
<br>
<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <table class="table table-bordered table-hover">
            <tr>
                <td style="font-weight: bold" align="center">ลำดับที่</td>
                <td style="font-weight: bold" align="center">หมวด</td>
                <td style="font-weight: bold" align="center">ปริ้น</td>
            </tr>
            <tr>
                <td align="center">1</td>
                <td>ทุกหมวด</td>
                <td align="center"><a href="/printAll/@generalData.getId"><i class='fas fa-print' style="color: #3b9bff;font-size: 18px;"></i></a></td>
            </tr>
            <tr>
                <td align="center">2</td>
                <td>หน้าปก</td>
                <td align="center"><a href="/printmaimDoc/@generalData.getId"><i class='fas fa-print' style="color: #3b9bff;font-size: 18px;"></i></a></td>
            </tr>
            <tr>
                <td align="center">3</td>
                <td>หมวดที่1</td>
                <td align="center"><a href="/formatPrintCat1/@generalData.getId"><i class='fas fa-print' style="color: #3b9bff;font-size: 18px;"></i></a></td>
            </tr>
            <tr>
                <td align="center">4</td>
                <td>หมวดที่2</td>
                <td align="center"><a href="/formatPrintCat2/@generalData.getId"><i class='fas fa-print' style="color: #3b9bff;font-size: 18px;"></i></a></td>
            </tr>
            <tr>
                <td align="center">5</td>
                <td>หมวดที่3</td>
                <td align="center"><a href="/formatPrintCat3/@generalData.getId"><i class='fas fa-print' style="color: #3b9bff;font-size: 18px;"></i></a></td>
            </tr>
            <tr>
                <td align="center">6</td>
                <td>หมวดที่4</td>
                <td align="center"><a href="/printAllCat4/@generalData.getId"><i class='fas fa-print' style="color: #3b9bff;font-size: 18px;"></i></a></td>
            </tr>
            <tr>
                <td align="center">7</td>
                <td>หมวดที่5</td>
                <td align="center"><a href="/printAllCat5/@generalData.getId"><i class='fas fa-print' style="color: #3b9bff;font-size: 18px;"></i></a></td>
            </tr>
            <tr>
                <td align="center">8</td>
                <td>หมวดที่6</td>
                <td align="center"><a href="/formatPrintCat6/@generalData.getId"><i class='fas fa-print' style="color: #3b9bff;font-size: 18px;"></i></a></td>
            </tr>
            <tr>
                <td align="center">9</td>
                <td>หมวดที่7</td>
                <td align="center"><a href="/formatPrintCat7/@generalData.getId"><i class='fas fa-print' style="color: #3b9bff;font-size: 18px;"></i></a></td>
            </tr>
        </table>
    </div>
    <div class="col-md-1"></div>
</div>